.about {
    background: #171717;
    box-shadow: 0 0 25px #8414ff;
    text-shadow: -1px -1px 1px #1df2f0, 0px 2px 2px #E94BE8;


  }
  
  .banner_AC{
  display: flex;
  align-items: center;
  
}
.imagen{
  flex: 1;
}
.imagen img {
  width: 100%;
  height: 100%;
  left: 0;
    box-shadow: 0 0 30px #333232cc;
    border-radius: 15px;
    display: grid;
  }
.contenido_banner{
  flex: 1;
  text-align: center;
  padding: 20px;
}

#banner_description{
    padding: 1px 5px;
    margin-top:40px;
    line-height: 2.5;
    color: #fff;
    font-size: 20px;
}
li {
    line-height: 2.5;
    list-style-type: upper-roman;
    list-style-position: inside;

}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #banner_description {  
  font-size: 17px;
  margin-top: 15px;
} 
}
@media only screen and (min-width: 769px)  {
  #banner_description { 
    font-size: 20px; 
    margin-top: 15px;
  }
  .title{
    font-size: 30px;
  }

} 


@media only screen and (max-width:701px){
  .about {
    background: #3f3f3f;
    height: 70%;
    display: block;
    box-shadow: none;
  }
  .banner_AC{
    display: block;
  }
  .contenido_banner{
    padding-top: 20px;
    background: #171717;
    border-radius: 0 0 10px 10px; 
  }
  .imagen img {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 25px #8414ff;
  }
}

@media (max-width: 480px) {
  .contenido_banner{
    padding-top: 20px;
    background: #171717;
    border-radius: 0 0 10px 10px; 
  }
  #banner_description{
    font-size: 17px; 
  }
  .imagen img {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 25px #8414ff;
  }
  .banner_AC{
    display: block;
    height: 130vh;
  }
  #banner_description {
    margin-top: 15px;
    font-size: 16px;
  }
  
}
@media screen and (min-width:700px) and (max-width:1400px){
  .imagen img {
    width: 100%;
  }

}